:root {
  --background-color: #e6e3e3;
  --bg-content-color: #f6f1f1;
  --heading-color: #14174e;
  --border-color: #131212;
  --text-color: #000000;
  --links-color: #087e15;
  --btn-color: #fc9348;
}
