@import url(../styles/colors.css);

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", Helvetica, sans-serif;
  background-color: white;
  color: var(--heading-color);
  background: url(../img/salmon.png) center;
  -webkit-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px);
}

main {
  height: 100vh;
}

h1 {
  font-weight: 900;
  font-size: 42px;
}

.navbar,
.hero {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 8px 200px;
  background-color: var(--background-color);
  align-items: center;
}

.hero {
  gap: 100px;
  background-color: var(--bg-content-color);
  border: 0.5px solid var(--border-color);
}

.hero h1 {
  min-width: 300px;
  color: var(--btn-color);
}

.hero p {
  text-align: center;
  line-height: 26px;
  color: var(--links-color);
}

.nav-links {
  display: flex;
  justify-content: space-between;
  gap: 8px;
  align-items: baseline;
}

.nav-links a,
.footer-links a {
  text-decoration: none;
  color: var(--text-color);
}

.nav-links a:hover,
.footer-links a:hover {
  text-decoration: underline;
  color: var(--links-color);
}

.nav-links .btn {
  background-color: var(--links-color);
  color: var(--background-color);
  padding: 2px 12px;
  margin: 0;
  border: none;
  border-radius: 4px;
  font-weight: 400;
}

.nav-links .btn:hover {
  text-decoration: none;
  color: var(--text-color);
  background-color: var(--btn-color);
  border: var(--links-color);
  cursor: pointer;
}

.navbar h1 a {
  color: var(--heading-color);
  font-size: 36px;
  font-weight: 900;
  text-decoration: none;
}

.navbar h1 a span {
  color: var(--links-color);
}

.navbar span span {
  display: inline-block;
  transform: scaleX(-1);
}

.recipes {
  padding: 8px 200px;
  border: 0.5px solid var(--border-color);
  background-color: var(--bg-content-color);
}

.recipes h2 {
  color: var(--text-color);
  text-align: center;
  padding: 6px 0;
  font-weight: 600;
}

.recipes ul {
  display: flex;
  justify-content: space-between;
  gap: 8px;
  list-style: none;
}

.recipes li a {
  text-decoration: none;
  color: var(--links-color);
}

.recipes li a:hover {
  text-decoration: underline;
  color: var(--text-color);
}

.footer-container {
  display: flex;
  justify-content: space-around;
  padding-bottom: 40px;
  background-color: var(--bg-content-color);
  padding: 20px 200px;
  line-height: 24px;
}

.footer-links li {
  list-style: none;
}

.footer-bottom {
  text-align: center;
  background-color: var(--background-color);
  padding: 20px 0;
}
